<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="mySubtareaLabel" translate="taskproyApp.subtarea.home.createOrEditLabel">Create or
            edit a Subtarea</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="subtarea.id" readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" translate="taskproyApp.subtarea.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                   ng-model="subtarea.nombre"
                   required/>

            <div ng-show="editForm.nombre.$invalid">
                <p class="help-block"
                   ng-show="editForm.nombre.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="taskproyApp.subtarea.descripcion" for="field_descripcion">Descripcion</label>
            <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                   ng-model="subtarea.descripcion"
                />
        </div>

        <div class="form-group">
            <label translate="taskproyApp.subtarea.tarea" for="field_tarea">tarea</label>
            <select class="form-control" id="field_tarea" name="tarea" ng-model="subtarea.tarea"
                    ng-options="tarea as tarea.nombre for tarea in tareas track by tarea.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
